<template>
  <div class="SoundItem" v-bind:class="{ 'SoundItem--loading': loading, 'SoundItem--playing': playing }">
    <button class="SoundItem__button" v-on:click="playSound()">{{ label }}</button>
  </div>
</template>

<script>
import { Howl } from 'howler';


export default {
  props: ['src', 'label'],

  data() {
    return {
      sound: null,
      loading: true,
      playing: false,
    };
  },

  mounted() {
    this.sound = new Howl({
      src: [this.src],
    });

    this.sound.on('load', () => this.loading = false);
    this.sound.on('play', () => this.playing = true);
    this.sound.on('end', () => this.playing = false);
    this.sound.on('stop', () => this.playing = false);
  },

  methods: {
    playSound() {
      if (this.loading) return;

      if (this.playing) {
        this.sound.stop();
      } else {
        this.sound.play();
      }
    },
  },
};
</script>

<style lang="scss">
@charset "utf-8";

@import "settings";
@import "foundation";

.SoundItem--loading {
  opacity: .25;
}

.SoundItem--playing .SoundItem__button {
  color: #f00;
}

.SoundItem__button {
  font-family: "Twin Marker";
  font-size: rem-calc(38);
  margin-bottom: rem-calc(14);
  outline: 0;
}

</style>
