<template>
  <div id="app">
    <div class="Soundboard">
      <div class="Soundboard__inner">
        <sound-item
          :id="sound.id"
          :src="sound.src"
          :label="sound.label"
          v-for="sound in sounds"
        ></sound-item>
      </div>
    </div>
  </div>
</template>

<script>
import SoundItem from './components/SoundItem.vue';


export default {
  components: { SoundItem },

  data() {
    return {
      sounds: [
        {
          src: require('./assets/sounds/199.mp3'),
          label: 'Cenonantneufeuro'
        },
        {
          src: require('./assets/sounds/carrement.mp3'),
          label: 'Carrement'
        },
        {
          src: require('./assets/sounds/comme-wii.mp3'),
          label: 'Comme sur Wii sauf que c\'est pour PS2'
        },
        {
          src: require('./assets/sounds/deja-dit.mp3'),
          label: 'Ca on l\'a deja dit'
        },
        {
          src: require('./assets/sounds/pffronjour.mp3'),
          label: 'PFFRonjour'
        },
        {
          src: require('./assets/sounds/quasiment.mp3'),
          label: 'Quasiment'
        },
        {
          src: require('./assets/sounds/queue-de-billard.mp3'),
          label: 'Queue de billard'
        },
        {
          src: require('./assets/sounds/voila.mp3'),
          label: 'Voila'
        },
      ],
    };
  },
};
</script>

<style lang="scss">
@charset "utf-8";

@import "settings";
@import "foundation";

@include foundation-global-styles;
// @include foundation-grid;
// @include foundation-flex-grid;
// @include foundation-typography;
// @include foundation-button;
// @include foundation-forms;
// @include foundation-range-input;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-close-button;
// @include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-flex-video;
// @include foundation-label;
// @include foundation-media-object;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
// @include foundation-visibility-classes;
// @include foundation-float-classes;
// @include foundation-flex-classes;

@font-face {
  font-family: "Twin Marker";
  font-style: normal;
  font-weight: 400;
  src: local("Twin Marker Regular"),
    local("TwinMarker-Regular"),
    url("./assets/fonts/TwinMarker.woff2") format("woff2");
}

html,
body {
  height: 100%;
}

body {
  background: url("./assets/background.png") center;
  display: table;
  width: 100%;
}

#app {
  display: table-cell;
  vertical-align: middle;
}

.Soundboard {
  background: url("./assets/soundboard.png") no-repeat;
  height: 820px;
  margin: 0 auto;
  text-align: center;
  width: 389px;
}

.Soundboard__inner {
  padding: 336px 36px 0;
}
</style>
